[Unit]
Description=Lightbar fade in at boot
Requires=lightbar.service
After=lightbar.service

[Service]
User=root
ExecStart=/usr/bin/lightbar-tween 0 1 $DURATION
Type=oneshot
#RemainAfterExit=true

[Install]
WantedBy=multi-user.target
